.em-container {
    width: 80%;
    margin: auto;
    height: 100vh;
}

.em-container button {
    margin: 0 1rem;
}

.em-container a {
    text-decoration: none;
}

.em-card-box>div {
    margin-bottom: 1rem;
}

.em-filters {
    margin: 1rem auto;
    display: flex;
    flex-wrap: wrap;
}

.em-filters  button {
    margin-left: 0;
}
