.em-container {
    width: 80%;
    margin: auto;
    height: 100vh;
}

.em-container nav {
    padding: 1rem;
}

.em-container button {
    margin: 0 1rem;
}

.em-container a {
    text-decoration: none;
}